* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    padding-left: 2.8vw;
    padding-right: 2.8vw;}

.navbar-left {
    text-decoration: none;
    font-family: 'Montserrat';
    pacity: 0;
    transform: translateY(60vh);
    animation-name: slide-upnbr;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;}

.nameclass {
    color: #9E9E9F;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 18px;}

.imclass {
    color: black;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 18px;}

.aboutcl {
    color: #9E9E9F;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 18px;}

.mecl {
    color: black;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 18px;}

.navbar-right {
    display: flex;}

.navbar-right a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px transparent;
    font-family: 'Montserrat';
    opacity: 0;
    transform: translateY(60vh);
    animation-name: slide-upnbr;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;}

.navbar-right a:hover {
    background-color: white;
    color: black;}

.backbox {
    background: linear-gradient(to bottom right, #EEFFF2, #EEF1FF, #FFEEFB);
    width: 94vw;
    height: 90vh;
    border-radius: 35px;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 1vh;
    margin-bottom: 5.5vh;
    align-self: center;
    align-content: center;
    background-attachment: fixed;
    background-position: center;
    opacity: 0;
    transform: translateY(45vh);
    animation-name: slide-upbbx;
    animation-duration: 7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
    padding-bottom: 70px;
}


.maintext {
    padding-left: 5.5vw;
    width: 89vw;
    padding-top: 30px;
    font-size: 17px;
    font-family: 'Montserrat';
    color: black;
    letter-spacing: 0.5px;
    line-height: 4vh;
    opacity: 0;
    transform: translateY(30vh);
    animation-name: slide-upmntxt;
    animation-duration: 1.7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;}

.semsel {
    /*padding-left: 5.5vw;*/
    width: 89vw;
    padding-top: 10px;
    font-size: 17px;
    font-family: 'Montserrat';
    color: black;
    letter-spacing: 0.5px;
    line-height: 4vh;
    opacity: 0;
    transform: translateY(30vh);
    animation-name: slide-upmntxt;
    animation-duration: 1.7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;}

.linkbox {
    padding-left: 5.5vw;
    width: 89vw;
    height: 230px;
    padding-top: 15px;
    font-size: 17px;
    font-family: 'Montserrat';
    color: black;
    letter-spacing: 0.5px;
    line-height: 4vh;
    opacity: 0;
    transform: translateY(30vh);
    animation-name: slide-upmntxt;
    animation-duration: 1.7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;}

.belowtext {
    margin-top: 60px;
    padding-left: 5.5vw;
    width: 89vw;

    font-size: 17px;
    font-family: 'Montserrat';
    color: black;
    letter-spacing: 0.5px;
    line-height: 33px;
    opacity: 0;
    transform: translateY(30vh);
    animation-name: slide-upmntxt;
    animation-duration: 1.7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;}


.hmt {
    font-size: 17px;
    font-family: 'Montserrat';
    color: #9E9E9F;
    letter-spacing: 0.5px;}

.hmtb {
    font-size: 17px;
    font-family: 'Montserrat';
    color: black;
    letter-spacing: 0.5px;}

.hmt1 {
    font-size: 25px;
    font-family: 'Montserrat';
    color: #9E9E9F;
    letter-spacing: 0.5px;}

.hmtb1 {
    font-size: 25px;
    font-family: 'Montserrat';
    color: black;
    letter-spacing: 0.5px;}

.button-container {
    display: flex;
    justify-content: center;
}

.btnmain,
.btn1 {
    text-decoration: none;
    border-radius: 28px;
    height: 60px;
    min-width: 130px;
    width: 28vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px transparent;
    font-family: 'Montserrat';
    opacity: 1;
    transform: translateY(40vh);
    animation-name: slide-upproj;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.btn1 {
    margin-right: 10px;
    margin-left: 10px;
}


.btn2,
.btn3 {
    text-decoration: none;
    border-radius: 28px;
    margin-top: 10px;
    height: 60px;
    min-width: 130px;
    width: 28vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px transparent;
    font-family: 'Montserrat';
    opacity: 1;
    transform: translateY(40vh);
    animation-name: slide-upproj;
    animation-duration: 2.8s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.btn3 {
    margin-right: 10px;
    margin-left: 10px;
}


.btn4,
.btn5 {
    text-decoration: none;
    border-radius: 28px;
    height: 60px;
    margin-top: 10px;
    min-width: 130px;
    width: 28vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px transparent;
    font-family: 'Montserrat';
    opacity: 1;
    transform: translateY(40vh);
    animation-name: slide-upproj;
    animation-duration: 3.6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.btn5 {
    margin-right: 10px;
    margin-left: 10px;
}


.btn6,
.btn7 {
    text-decoration: none;
    border-radius: 28px;
    height: 60px;
    margin-top: 10px;
    min-width: 130px;
    width: 28vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px transparent;
    font-family: 'Montserrat';
    opacity: 1;
    transform: translateY(40vh);
    animation-name: slide-upproj;
    animation-duration: 4.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.btn7 {
    margin-right: 10px;
    margin-left: 10px;
}

.backgnd {
    position: relative;
    height: 100vh;
    width: 100vw;}

.backgnd::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, #4E83EE, #D34EEE, #EE4E5F);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.9;
    transform: translateY(0vh);
    animation-name: slide-upbgclr;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;z-index: -1;}

.linkblw{
    color: #FFF5FF;
    font-family: 'Montserrat';
    font-size: 23px;
    opacity: 1;
    transform: translateY(40vh);
    animation-name: slide-uplinkblw;
    animation-duration: 3.0s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;}

@keyframes slide-upbbx {
    0%{
        opacity: 0;
        border-radius: 3px;
        scale: 0.9;
        transform: translateY(-3vh);
        background: white;}
    10%{
        opacity: 0.4;
        scale: 1.008;
        border-radius: 10px;
        transform: translateY(-1.5vh);
        background: linear-gradient(to bottom right, #FDFFFD, white);;}
    22%{
        opacity: 1;
        border-radius: 35px;
        transform: translateY(0vh);
        background: linear-gradient(to bottom right, #FCFFFC, white);}
    47%{
        opacity: 1;
        transform: translateY(0vh);
        background: linear-gradient(to bottom right,#FBFFFB);}
    56%{
        opacity: 1;
        transform: translateY(0vh);
        background: linear-gradient(to bottom right, #F3FFF5, #F0EDFF);}
    65%{
        opacity: 1;
        transform: translateY(0vh);
        background: linear-gradient(to bottom right, #ECFFE6, #F4EDFF);}
    74%{
        opacity: 1;
        transform: translateY(0vh);
        background: linear-gradient(to bottom right, #E6FFE6, #F8EDFF);}
    83%{
        opacity: 1;
        transform: translateY(0vh);
        background: linear-gradient(to bottom right, #E6FFEA, #FAEDFF);}
    92%{
        opacity: 1;
        transform: translateY(0vh);
        background: linear-gradient(to bottom right, #EEFFF2, #FFEEFB);}
    100%{
        opacity: 1;
        transform: translateY(0vh);
        background: linear-gradient(to bottom right, #EEFFF2, #EEF1FF, #FFEEFB);}
}
@keyframes slide-upbgclr {
    0%{
        opacity: 1;
        transform: translateY(0vh);
        background: linear-gradient(to bottom right, #4E83EE);}
    20%{
        opacity: 0.65;
        transform: translateY(0vh);
        background: linear-gradient(to bottom right, #4E83EE, #D34EEE);}
    40%{
        opacity: 0.4;
        transform: translateY(0vh);
        background: linear-gradient(to bottom right, #4E83EE, #D34EEE, #EE4E5F);}
    60%{
        opacity: 0.25;
        transform: translateY(0vh);
        background: linear-gradient(to bottom right, #4E83EE, #D34EEE, #EE4E5F);}
    80%{
        opacity: 0.12;
        transform: translateY(0vh);
        background: linear-gradient(to bottom right, #D34EEE, #EE4E5F);}
    100%{
        opacity: 0;
        transform: translateY(0vh);
        background: linear-gradient(to bottom right, #EE4E5F);}
}

@keyframes slide-upmntxt {
    0%{
        opacity: 0;
        scale: 0.9;
        transform: translateY(-3vh);}
    35%{
        opacity: 1;
        scale: 1.02;
        transform: translateY(-1.5vh);}
    100%{
        opacity: 1;
        scale: 1;
        filter: none;
        transform: translateY(0);}
}

@keyframes slide-uplinkblw {
    0%{
        opacity: 0;
        scale: 0.9;
        transform: translateY(-2.6vh);}
    25%{
        opacity: 1;
        scale: 1.02;
        transform: translateY(-1.8vh);}
    100%{
        opacity: 1;
        scale: 1;
        filter: none;
        transform: translateY(0);}
}

@keyframes slide-updntxt {
    0%{
        opacity: 0;
        scale: 0.9;
        transform: translateY(-3vh);}
    35%{
        opacity: 1;
        scale: 1.02;
        transform: translateY(-1.5vh);}
    100%{
        opacity: 1;
        scale: 1;
        filter: none;
        transform: translateY(0);}
}

@keyframes slide-upproj {
    0%{
        opacity: 0.4;
        scale: 0.9;
        border-radius: 0px;
        background: black;
        transform: translateY(-3vh);
    }
    23%{
        opacity: 0.92;

        scale: 1.02;
        border-radius: 12px;
        background: black;
        transform: translateY(-1.5vh);}

    100%{
        opacity: 1;
        scale: 1;
        filter: none;
        background: black;
        border-radius: 35px;
        transform: translateY(0);}
}

@keyframes unblur {
    0% {
        filter: blur(10px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        filter: none;
    }
}

@keyframes slide-upnbr {
    0%{
        opacity: 0;
        scale: 0.0;
        transform: translateY(-3vh);}
    35%{
        opacity: 1;
        scale: 1.04;
        transform: translateY(-1.5vh);}
    100%{
        opacity: 1;
        scale: 1;
        filter: none;
        transform: translateY(0);}
}